<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {{>navbar}} {{!-- importing the content from navbars file --}}
    

{{!-- Bootstrap jumbotron template to create a box with some written content and a button --}}
<div style=" width: 70%; margin-left:15%;">
    <div class="jumbotron">
  <h1 class="display-4" style="margin-top:-3%;">MERN PROJECT!</h1></br></br>
  <p class="lead">HTML, CSS, BOOTSTRAP, HANDELBARS, MOONGOSE, DATABASE, NODE, NPM, EXPRESS, MONGODB</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p></br>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/login" role="button">Explore</a>
  </p>
</div>
</div>


</body>
</html>