h1,h2{
    color:  rgb(0, 119, 255);
    /* text-align: center; */
}
h2{
    text-align: center;
}
.head-element{
    flex-direction: row;
    display: flex; 
    background-color: rgba(194, 204, 207, 0.1);
}
.nav-link{
    text-decoration: none;
    color: rgb(150, 219, 247);
    font-size: 2em;
    padding-right: 2%;
}
.nav-link:hover,.m:hover{
    color:rgb(130, 130, 253);
}
header{
    background-color: rgba(0,0,0,0.6);
    height: 4.5vw;
}